---
import { playlists } from "@/lib/data";
import Layout from "../layouts/Layout.astro";
import PlayListItemCard from "@/components/PlayListItemCard.astro";
import PlayListItemBox from "@/components/PlayListItemBox.astro";
import Greeting from "@/components/Greeting.svelte";
---

<Layout title="Spotify clone">
  <div
    id="playlist-container"
    class="relative transition-all duration 1000 bg-[#045c59]"
  >
    <div class="relative z-10 p-6 pt-10">
      <Greeting client:load />
      <div class="playlists flex flex-wrap mt-6 gap-4">
        {playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
      </div>
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-b from-transparent to-[#121212]"
    >
    </div>
  </div>
  <div class="p-6">
    <h2 class="text-3xl text-white font-bold">Escucha los éxitos de hoy</h2>
    <div class="playlists flex flex-wrap mt-6 gap-6">
      {playlists.map((playlist) => <PlayListItemBox playlist={playlist} />)}
    </div>
  </div>
</Layout>
<script defer>
  var playlistContainer = document.querySelector("#playlist-container");
  var playlists = document.querySelectorAll(".playlists article");

  for (const child of playlists) {
    child.addEventListener("mouseenter", () => {
      playlistContainer.style.background = child.dataset.color;
    });
  }
</script>
