---
import Arrow from "@/icons/Arrow.astro";
interface Props {
  data: any;
  rotate: string;
}
const { data, rotate: degrees } = Astro.props;
const [nextID, clases] = data;
---

<a
  href=`/playlist/${nextID}`
  class=`cursor-pointer p-2 rounded-full bg-black/80 rotate-${degrees} ${clases}`
>
  <Arrow />
</a>
