---
import Arrow from "@/icons/Arrow.astro";
interface Props {
  data: any;
  rotate?: boolean;
}
const { data, rotate = false } = Astro.props;
const [nextID, clases] = data;
---

<a
  href={`/playlist/${nextID}`}
  class={`cursor-pointer p-2 rounded-full bg-black/80 ${
    rotate && "rotate-180"
  } ${clases}`}
>
  <Arrow />
</a>
